.MakeBold{
    font-weight: bold;
}
.MakeWhite{
    color:white;
}
.NoSpace{
    margin: 0;
    padding: 0;
}
html, body{
    height:100%;
}
#form1 {
   /* background-image: url('../Images/clay-banks-MpVXotwNMXU-unsplash.jpg');*/
   
    background-position: center;
    background-size: cover;
  
}
 #heroContainer{
     background-color: blue;
     height:fit-content;
     height:100%;
 }
#hero{
    height: 100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
#mask {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.90;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#heroDetails{
    margin-left: 4em;
}
#heroHeader{
    font-size:300%;
}
#coolImg{
    margin-right:4em;
    opacity:1;
}
#btnShopNowHori {
    margin-top: 1.75em;
}
#heroH1, #heroH3 {
    color: white;
    margin : 0;
    padding : 0;
}
#heroH1 {
    font-size : 75px;
}

#aboutUsP {
    font-weight: bold;
    color: wheat;
}

#heroLink {
    color: white;
    background-color: rgb(0,0,0,0.95);
    padding: 1em 2em 1em 2em;
    text-decoration: none;
}
#ShopNow{
    padding: 1em 2em 1em 1em;
    
    
}

#Footer {
    text-align: center;
    background-color: grey;
    text-align: center;
    padding: 1em;
    color: darkgreen;
    margin-top :2px;  
}
ul {
    list-style: none;
    padding: 0;
  margin-left:50em;
}

li {
    display :inline-block;
    margin-right: 0.5rem;
}

a {
    color:black;
    text-decoration: none;
    /*padding: 0.5rem 1rem;*/
}

    a:hover {
        color: red;
    }

@media(max-width:800px) {
    #heroH1 {
        font-size: large;
    }

    #aboutUsP {
        font-size: small;
    }

    #heroLink {
        font-size: small;
        padding: 0.5em 1em 0.5em 1em;
    }
}