*{
    /*border:1px solid grey;*/
    margin:0;
    padding:0;
}
body {
   /* background-image: url('../Images/Dope tinga.jpg');*/
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}
.AlignRight{
    text-align: right;
}
.AlignLeft{
    text-align: left;
}
#login, #signUp {
    display:flex;
    align-items:center;
    justify-items:center;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    padding-top:1em;
}
#signUpTable td{
    text-align: center;
    padding: 0 0.5em 0 0.5em;
}
h1 {
    text-align: center;
    color: #F7BF4C;
    padding:0.25em;
    margin:0.25em;
}

#loginForm, #signUpForm {
    background-color: white;
    padding :10px 4em 4px 4em;
    box-shadow: 0.1em 0.1em 0.5em black;
  
}


.btnLogInSubmit, .btnStyleS {
    color: black;
    padding: 1em 3em 1em 3em;
    background-color: #F7BF4C;
    margin-top: 0.5em;
    width: 100%;
}
.btnContShopping {
    color: black;
    padding: 1em 3em 1em 3em;
    background-color: #F7BF4C;
    border :hidden;
    margin-top: 0.5em;
   
    align-content :center;
    
}
.btnRate {
    color: black;
    padding: 1em 3em 1em 3em;
    background-color: #F7BF4C;
    border: hidden;
    margin-top: 0.25em;
    align-content: center;
    background-image: url('../Images/326712_rate_thumb_up_icon.png');
    background-repeat: no-repeat;
    background-size: 20px 20px; /* Set the size of your icon */
    background-position: left center; /* Align the icon to the left-center */
    padding-left: 30px;
}
.btnCancel {
    color: #F7BF4C;
    padding: 1em 3em 1em 3em;
    background-color: black;
    margin-top: 0.5em;
    width: 100%;
}
.LinkLeft {
    text-align: center;
    font-weight : bold;
}

.FluffUp {
    padding: 1em;
    border: 3px solid grey;
    margin: 0.1em;
    text-align: center;
}


.LinkGrey {
    color: dimgray;
}



.Relative {
    position: relative;
}

.btnClose {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-bottom-left-radius: 20px;
    padding: 0.5em;
    font-weight: bold;
}
